<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campusbuddy.mapper.ReviewMapper">

    <select id="selectReviewVOsForPage" resultType="com.example.campusbuddy.vo.ReviewVO">
        SELECT r.*, u.nickname AS reviewer_nickname, u.avatar_url AS reviewer_avatar,
               h.title AS related_info_title, h.description AS related_info_summary
        FROM review r
        LEFT JOIN user u ON r.reviewer_user_id = u.user_id
        LEFT JOIN help_info h ON r.related_info_id = h.info_id
        <where>
            <choose>
                <when test="type == 'received'">
                    r.reviewed_user_id = #{userId}
                </when>
                <when test="type == 'given'">
                    r.reviewer_user_id = #{userId}
                </when>
                <otherwise>
                    (r.reviewed_user_id = #{userId} OR r.reviewer_user_id = #{userId})
                </otherwise>
            </choose>
            <if test="score != null">
                AND r.score = #{score}
            </if>
            <if test="moduleType != null and moduleType != ''">
                AND r.module_type = #{moduleType}
            </if>
        </where>
        ORDER BY r.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countReviewVOsForPage" resultType="long">
        SELECT COUNT(*)
        FROM review r
        <where>
            <choose>
                <when test="type == 'received'">
                    r.reviewed_user_id = #{userId}
                </when>
                <when test="type == 'given'">
                    r.reviewer_user_id = #{userId}
                </when>
                <otherwise>
                    (r.reviewed_user_id = #{userId} OR r.reviewer_user_id = #{userId})
                </otherwise>
            </choose>
            <if test="score != null">
                AND r.score = #{score}
            </if>
            <if test="moduleType != null and moduleType != ''">
                AND r.module_type = #{moduleType}
            </if>
        </where>
    </select>
    


</mapper>
