<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campusbuddy.mapper.ReviewMapper">

    <select id="selectReviewVOsForPage" resultType="com.example.campusbuddy.vo.ReviewVO">
        SELECT r.*, 
               u1.nickname AS reviewer_nickname, u1.avatar_url AS reviewer_avatar,
               u2.nickname AS reviewed_nickname,
               h.title AS related_info_title, h.description AS related_info_summary,
               CASE 
                 WHEN r.reviewer_user_id = #{userId} THEN u2.nickname  -- 如果是我发出的评价，对方是被评价者
                 WHEN r.reviewed_user_id = #{userId} THEN u1.nickname  -- 如果是我收到的评价，对方是评价者  
                 ELSE '昵称未知'
               END AS opposite_nickname,
               CASE 
                 WHEN r.reviewer_user_id = #{userId} THEN r.reviewed_user_id
                 ELSE r.reviewer_user_id
               END AS opposite_user_id
        FROM review r
        LEFT JOIN user u1 ON r.reviewer_user_id = u1.user_id
        LEFT JOIN user u2 ON r.reviewed_user_id = u2.user_id
        LEFT JOIN help_info h ON r.related_info_id = h.info_id
        <where>
            <choose>
                <when test="type == 'received'">
                    r.reviewed_user_id = #{userId}
                </when>
                <when test="type == 'given'">
                    r.reviewer_user_id = #{userId}
                </when>
                <otherwise>
                    (r.reviewed_user_id = #{userId} OR r.reviewer_user_id = #{userId})
                </otherwise>
            </choose>
            <if test="score != null">
                AND r.score = #{score}
            </if>
            <if test="moduleType != null and moduleType != ''">
                AND r.module_type = #{moduleType}
            </if>
        </where>
        ORDER BY r.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countReviewVOsForPage" resultType="long">
        SELECT COUNT(*)
        FROM review r
        <where>
            <choose>
                <when test="type == 'received'">
                    r.reviewed_user_id = #{userId}
                </when>
                <when test="type == 'given'">
                    r.reviewer_user_id = #{userId}
                </when>
                <otherwise>
                    (r.reviewed_user_id = #{userId} OR r.reviewer_user_id = #{userId})
                </otherwise>
            </choose>
            <if test="score != null">
                AND r.score = #{score}
            </if>
            <if test="moduleType != null and moduleType != ''">
                AND r.module_type = #{moduleType}
            </if>
        </where>
    </select>
    


</mapper>
